.cart-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #16202d;
  margin-bottom: 0.5rem;
  padding: 1.5rem;
}
.cart-item .group1,
.cart-item .group2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cart-item .group1 p,
.cart-item .group2 p {
  font-size: 1.3rem;
  color: #c7d5e0;
}
.cart-item .group1 .cart-image {
  width: 120px;
  margin-right: 1rem;
}
.cart-item .group1 .cart-image img {
  width: 100%;
  display: block;
}
.cart-item .group2 .supported-os {
  margin-right: 2rem;
}
.cart-item .group2 .supported-os p {
  font-size: 1.8rem;
}
.cart-item .group2 .supported-os p i:not(:first-child) {
  margin-left: 0.6rem;
}
.cart-item .group2 .actions {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.cart-item .group2 .actions .remove-button a {
  color: #56707f;
}
.cart-item .group2 .actions .remove-button a:hover {
  color: #67c1f5;
}