.gamepage {
  min-height: calc(100vh - 108px);
  width: 100%;
  padding-top: 2rem;
  color: white;
  background: url(https://cdn.akamai.steamstatic.com/steam/apps/1134570/page_bg_generated_v6b.jpg?t=1636296403);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gamepage .main {
  max-width: 950px;
  width: 100%;
}
.gamepage .main h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  font-weight: 300;
}
.gamepage .main .display-section {
  height: 430px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.4) 100%);
}
.gamepage .main .display-section .showcase {
  height: 100%;
  flex: 2;
  display: flex;
  flex-direction: column;
  transition: all 1s ease;
}
.gamepage .main .display-section .showcase .main-video,
.gamepage .main .display-section .showcase .main-img {
  width: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
}
.gamepage .main .display-section .showcase .main-video.hidden,
.gamepage .main .display-section .showcase .main-img.hidden {
  display: none;
}
.gamepage .main .display-section .showcase .thumbnails {
  flex: 1;
  margin-top: 0.2rem;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.gamepage .main .display-section .showcase .thumbnails .image-container {
  cursor: pointer;
  height: 68px;
}
.gamepage .main .display-section .showcase .thumbnails .image-container:not(:first-child) {
  margin-left: 0.5rem;
}
.gamepage .main .display-section .showcase .thumbnails .image-container img,
.gamepage .main .display-section .showcase .thumbnails .image-container video {
  height: 100%;
}
.gamepage .main .side {
  height: 100%;
  font-size: 1.25rem;
  font-weight: 300;
  flex: 1;
}
.gamepage .main .side img {
  width: 100%;
}
.gamepage .main .side .info {
  margin: 1rem 2rem 0 0;
}
.gamepage .main .side .info .description p {
  color: #c6d4df;
  text-align: justify;
  line-height: 1.3;
}
.gamepage .main .side .info .reviews,
.gamepage .main .side .info .release-date,
.gamepage .main .side .info .developers,
.gamepage .main .side .info .publishers {
  margin-top: 1rem;
}
.gamepage .main .side .info .reviews span.date,
.gamepage .main .side .info .release-date span.date,
.gamepage .main .side .info .developers span.date,
.gamepage .main .side .info .publishers span.date {
  margin-left: 1rem;
  color: #8f98a0;
}
.gamepage .main .side .info .reviews span.gray-text,
.gamepage .main .side .info .release-date span.gray-text,
.gamepage .main .side .info .developers span.gray-text,
.gamepage .main .side .info .publishers span.gray-text {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #6a8190;
}
.gamepage .main .side .info .reviews span.blue-text,
.gamepage .main .side .info .release-date span.blue-text,
.gamepage .main .side .info .developers span.blue-text,
.gamepage .main .side .info .publishers span.blue-text {
  margin-left: 1rem;
  color: #66c0f4;
  text-decoration: none;
}
.gamepage .main .side .info .reviews span.blue-text a,
.gamepage .main .side .info .release-date span.blue-text a,
.gamepage .main .side .info .developers span.blue-text a,
.gamepage .main .side .info .publishers span.blue-text a {
  color: #66c0f4;
  text-decoration: none;
}
.gamepage .main .side .info .reviews span.blue-text a:hover,
.gamepage .main .side .info .release-date span.blue-text a:hover,
.gamepage .main .side .info .developers span.blue-text a:hover,
.gamepage .main .side .info .publishers span.blue-text a:hover {
  color: white;
}
.gamepage .buy-section .offer {
  margin-top: 4rem;
  background: linear-gradient(-60deg, rgba(226, 244, 255, 0.3) 5%, rgba(84, 107, 115, 0.3) 95%);
  padding: 2rem;
  border-radius: 0.5rem;
  position: relative;
}
.gamepage .buy-section .offer h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  position: relative;
}
.gamepage .buy-section .offer h2 span.logo {
  display: inline-block;
  position: absolute;
  right: 0;
}
.gamepage .buy-section .offer h2 span.logo i:not(:first-child) {
  margin-left: 1.5rem;
}
.gamepage .buy-section .offer p {
  font-size: 1.3rem;
  color: #acdbf5;
}
.gamepage .buy-section .offer .button-container {
  position: absolute;
  right: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 0.2rem;
  border-radius: 0.3rem;
}
.gamepage .buy-section .offer .button-container p {
  padding: 0 1rem;
  font-size: 2rem;
}
.gamepage .buy-section .offer .button-container a.get-button,
.gamepage .buy-section .offer .button-container button.get-button {
  cursor: pointer;
  text-decoration: none;
  padding: 0.8rem 2rem;
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  color: white;
  background: linear-gradient(to right, #75b022 5%, #588a1b 95%);
  bottom: 0px;
  border-radius: 0.3rem;
}
.gamepage .buy-section .offer .button-container a.get-button:not(:first-child),
.gamepage .buy-section .offer .button-container button.get-button:not(:first-child) {
  margin-left: 0.5rem;
}
.gamepage .buy-section .offer .button-container a.get-button.delete,
.gamepage .buy-section .offer .button-container button.get-button.delete {
  background: linear-gradient(to right, #ff4747 0%, #c21a1a 60%);
  background-size: 330% 100%;
  background-position: 25%;
  margin-left: 0.3rem;
}
.gamepage .buy-section .offer .button-container a.get-button:hover,
.gamepage .buy-section .offer .button-container button.get-button:hover {
  filter: brightness(120%);
}

.review-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1b2838;
  padding: 0 5rem;
}
.review-section .container {
  max-width: 1000px;
  width: 100%;
}
.review-section .container .reviews {
  width: 100%;
  margin-top: 5rem;
}
.review-section .container .reviews p.heading {
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
  margin-bottom: 1rem;
  letter-spacing: 3px;
}
.review-section .container .reviews .user-review {
  display: flex;
  color: #c1dbf4;
  background-color: #16202d;
  padding: 1rem;
  margin-bottom: 1rem;
}
.review-section .container .reviews .user-review .user-segment {
  display: flex;
  padding-right: 8rem;
}
.review-section .container .reviews .user-review .user-segment img {
  width: 34px;
  height: 34px;
  border: 1px solid #c1dbf4;
}
.review-section .container .reviews .user-review .user-segment p.username {
  font-size: 1.3rem;
  font-weight: 500;
  margin-left: 0.5rem;
}
.review-section .container .reviews .user-review .review-segment {
  flex: 1;
}
.review-section .container .reviews .user-review .review-segment .opinion {
  display: flex;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 1.7rem;
}
.review-section .container .reviews .user-review .review-segment .opinion p {
  margin-left: 1rem;
}
.review-section .container .reviews .user-review .review-segment p.date {
  font-size: 1rem;
  color: #969696;
  margin: 1rem 0;
  text-transform: uppercase;
}
.review-section .container .reviews .user-review .review-segment p.review {
  font-size: 1.3rem;
  color: #acb2b8;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(172, 178, 184, 0.2);
}
.review-section .container .reviews .user-review .review-segment .reactions p {
  font-size: 1.2rem;
  color: #8091a2;
  padding: 1rem 0;
}
.review-section .container .reviews .user-review .review-segment .reactions p:last-child {
  padding: 0;
}
.review-section .container .reviews .user-review .review-segment .reactions a {
  font-size: 1.2rem;
  font-family: inherit;
  cursor: pointer;
  background-color: #212c3d;
  outline: none;
  border: none;
  color: #66c0f4;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
}
.review-section .container .reviews .user-review .review-segment .reactions a.clicked {
  pointer-events: none;
  background: #66c0f4;
  color: white;
}
.review-section .container .reviews .user-review .review-segment .reactions a:hover {
  filter: brightness(140%);
}
.review-section .container .reviews .user-review .review-segment .reactions a i {
  transform: rotateY(180deg);
  margin-right: 0.5rem;
}

.review-form-section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.review-form-section.hidden {
  display: none;
}
.review-form-section .form-container {
  width: 700px;
  color: white;
  background: linear-gradient(to right bottom, #343840, #25282e);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2rem;
  border-top: 1px solid #14a4ff;
}
.review-form-section .form-container h1 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0.7rem;
}
.review-form-section .form-container h2 {
  font-size: 2rem;
  color: #4193f0;
  font-weight: 400;
  margin-bottom: 2rem;
}
.review-form-section .form-container p,
.review-form-section .form-container input,
.review-form-section .form-container label {
  font-size: 1.3rem;
}
.review-form-section .form-container .opinion-segment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #434953;
  padding: 1.5rem;
}
.review-form-section .form-container .opinion-segment p {
  font-size: 1.5rem;
}
.review-form-section .form-container .opinion-segment .option {
  display: inline-block;
}
.review-form-section .form-container .opinion-segment .option:first-of-type {
  margin-right: 0.3rem;
}
.review-form-section .form-container .opinion-segment .option input {
  display: none;
}
.review-form-section .form-container .opinion-segment .option input:checked + label {
  color: white;
  background: linear-gradient(to right, #47bfff 0%, #1a44c2 60%);
  background-size: 330% 100%;
  background-position: 25%;
}
.review-form-section .form-container .opinion-segment .option input:checked + label i {
  font-size: 2.8rem;
}
.review-form-section .form-container .opinion-segment .option label {
  cursor: pointer;
  display: inline-block;
  color: #67c1f5;
  background-color: #4b6173;
  padding: 0.7rem 2rem;
  border-radius: 0.3rem;
}
.review-form-section .form-container .opinion-segment .option label:hover {
  background: linear-gradient(to right bottom, #64b7e8, #417a9b);
  color: white;
}
.review-form-section .form-container .opinion-segment .option label span {
  vertical-align: middle;
}
.review-form-section .form-container .opinion-segment .option label i {
  margin-right: 0.5rem;
  font-size: 2.5rem;
  transform: rotateY(180deg);
}
.review-form-section .form-container .review-segment p {
  margin: 3rem 0 1rem 0;
  color: #969696;
  line-height: 1.3;
}
.review-form-section .form-container .review-segment textarea {
  resize: none;
  padding: 0.5rem;
  font: inherit;
  font-size: 1.3rem;
  width: 100%;
  height: 15rem;
  background-color: #434953;
  border: 1px solid black;
  outline: none;
  color: white;
}
.review-form-section .form-container .button-container {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
  gap: 2rem;
}
.review-form-section .form-container .button-container button {
  flex: 1;
  cursor: pointer;
  padding: 0.7rem;
  text-decoration: none;
  color: white;
  background-color: #909090;
  font-size: 1.3rem;
  border: none;
  border-radius: 0.3rem;
}
.review-form-section .form-container .button-container button:hover {
  filter: brightness(120%);
}
.review-form-section .form-container .button-container button.save {
  background: linear-gradient(to right, #47bfff 0%, #1a44c2 60%);
  background-size: 330% 100%;
  background-position: 25%;
}
.review-form-section .form-container .button-container button.cancel {
  background-color: #3d4450;
}

@media screen and (max-width: 1000px) {
  .gamepage .main {
    padding: 0 5rem;
  }
  .gamepage .main .display-section {
    width: 100%;
    height: auto;
    flex-direction: column-reverse;
  }
  .gamepage .main .display-section .showcase {
    flex: none;
    width: 100%;
  }
  .gamepage .main .display-section .side {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    flex: none;
  }
  .gamepage .main .display-section .side img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 50%;
    aspect-ratio: 16/9;
    margin-top: -1rem;
  }
  .gamepage .main .display-section .side .info {
    margin: 0;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
  }
  .gamepage .main .display-section .side .info div p,
.gamepage .main .display-section .side .info div span {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 800px) {
  .gamepage .main .display-section .side {
    flex-direction: column;
  }
  .gamepage .main .display-section .side img {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .review-section .container .reviews .user-review {
    flex-direction: column;
  }
  .review-section .container .reviews .user-review .user-segment {
    margin-bottom: 2rem;
  }
  .review-section .container .reviews .user-review .user-segment img {
    height: 45px;
    width: 45px;
  }
}
@media screen and (max-width: 700px) {
  .gamepage .main {
    padding: 0 2rem;
  }
  .gamepage .buy-section .offer h2 {
    font-size: 1.6rem;
  }
  .gamepage .buy-section .offer p {
    font-size: 1.1rem;
  }
  .gamepage .buy-section .offer .button-container {
    bottom: -2.5rem;
  }
  .gamepage .buy-section .offer .button-container p,
.gamepage .buy-section .offer .button-container a {
    font-size: 1.4rem;
  }

  .review-section {
    padding: 0 2rem;
  }
}