.card {
  color: white;
  margin-top: 4rem;
  background: linear-gradient(-60deg, rgba(226, 244, 255, 0.3) 5%, rgba(84, 107, 115, 0.3) 95%);
  padding: 2rem;
  border-radius: 0.5rem;
  position: relative;
}
.card h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  position: relative;
}
.card h2 span.logo {
  display: inline-block;
  position: absolute;
  right: 0;
}
.card h2 span.logo i:not(:first-child) {
  margin-left: 1.5rem;
}
.card p,
.card a {
  font-size: 1.3rem;
  color: #acdbf5;
  line-height: 2;
}
.card a {
  text-decoration: none;
}
.card a:hover {
  color: white;
}
.card .button-container {
  position: absolute;
  right: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 0.2rem;
  border-radius: 0.3rem;
}
.card .button-container p {
  padding: 0 1rem;
  font-size: 2rem;
}
.card .button-container a.get-button {
  cursor: pointer;
  padding: 0.8rem 2rem;
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  color: white;
  background: linear-gradient(to right, #75b022 5%, #588a1b 95%);
  bottom: 0px;
  border-radius: 0.3rem;
  line-height: 1.5;
}
.card .button-container a.get-button:hover {
  filter: brightness(120%);
}