@import url("http://fonts.cdnfonts.com/css/motiva-sans");

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    background-color: #212429;
    font-family: Motiva Sans, Arial, Helvetica, sans-serif;

    .loading {
        z-index: 100;
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #212429;
        place-items: center;

        &.show {
            display: grid;
        }

        img {
            width: 400px;
        }
    }
    nav {
        z-index: 10;
        padding: 3rem 0;
        font-size: 1.6rem;
        text-transform: uppercase;
        background-color: #171a21;
        position: relative;
        ul {
            display: flex;
            align-items: center;
            justify-content: center;

            li {
                list-style: none;
                margin: 0 1rem;

                &.logo {
                    margin-right: 5rem;
                    img {
                        height: 40px;
                    }
                }
                &.hamburger {
                    display: none;
                    padding-right: 2rem;
                    font-size: 3rem;
                    position: absolute;
                    right: 0;
                    color: white;
                    cursor: pointer;
                    @media screen and (max-width: 1000px) {
                        display: block;
                    }
                }

                a {
                    text-decoration: none;
                    color: rgb(184, 182, 180);
                    transition: all 0.1s ease;

                    &:hover {
                        color: rgb(255, 255, 255);
                    }
                }
            }
        }
    }

    .main-section {
        min-height: calc(100vh - 108px);
    }
    @import "mobileNav";

    @media screen and (max-width: 1000px) {
        nav {
            li:not(.logo) {
                display: none;
            }
        }
    }
}
