.section.shopping-cart {
    min-height: calc(100vh - 108px);
    background-color: #1b2838;
    display: flex;
    justify-content: center;
    color: white;
    .container {
        width: 700px;

        h1 {
            font-size: 3.5rem;
            font-weight: 300;
            text-transform: uppercase;
            margin: 3rem 0;
        }
        .items-container {
            width: 100%;

            @import "cartItem";
        }
        .order-summary {
            padding: 2rem;
            color: #c7d5e0;
            width: 100%;
            background-color: #16202d;

            p {
                display: flex;
                justify-content: space-between;
                font-size: 1.3rem;
                font-weight: 500;
                span {
                    display: block;
                }
                &.note {
                    margin-top: 1.5rem;
                }
            }

            .button-container {
                margin-top: 2rem;
                text-align: right;
                a {
                    text-decoration: none;
                    padding: 0.6rem 1.7rem;
                    cursor: pointer;
                    font-size: 1.4rem;
                    font-family: Arial, Helvetica, sans-serif;
                    border: none;
                    color: #d2e885;
                    background: linear-gradient(
                        to bottom,
                        rgba(121, 153, 5, 1) 5%,
                        rgba(83, 105, 4, 1) 95%
                    );
                    bottom: 0px;
                    border-radius: 0.3rem;
                    line-height: 1.5;

                    &:hover {
                        color: #ebf4c7;
                        filter: brightness(120%);
                    }
                }
            }
        }
    }
}
